body {
    background: url(images/fond.png) no-repeat ;
    background-size: 100%;  
}
/*header*/
.nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.nav_li {
    text-decoration: none;
    color: black;
}

.nav_li:hover {
    color: rgb(255, 0, 140);
}

.fa-solid {
    margin: 5px;
}


/*Bloc section*/
.ensemble_section {
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: 800px;
    margin: 15px;
}
.section_droite {
    display: flex;
    justify-content: space-between;
}

.section_droite_case {
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    width: 800px;
}

.image_section img{
    height: 400px;
    width: 350px;
    border-radius: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.text_p {
    background-color: rgba(241, 107, 219, 0.281);
    border-radius: 15px;
    padding: 15px;
}

/*Lien anais */
#lien_anais_cache {
    opacity: 0;
}

#lien_anais {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
    text-decoration: underline;
}
#lien_anais:hover {
    color: red;
}
#lien_anais_cache:hover {
    opacity: 1;
    color: red;
    font-size: 25px;
}


/* Retour à l'accueil */
#retour {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fleche_retour {
    height: 45px;
    width: 45px;
}